{% extends 'userbase.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}

<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div
        class="p-5 bg-image"
        style="background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg'); height: 300px"
    ></div>
    <!-- Background image -->

    <div
        class="card mx-4 mx-md-5 shadow-5-strong"
        style="margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px)"
    >
        <div class="card-body py-5 px-md-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8" style="font-family: 'IBM Plex Mono', monospace; font-size: 20px">
                    <h2 class="fw-bold mb-5 text-dark">Login Now</h2>
                    {% include 'includes/alerts.html' %}
                    <form action="{% url 'userlogin' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <input
                                name="email"
                                type="email"
                                id="form3Example1"
                                class="form-control"
                                placeholder="Email Address"
                                required
                            />
                            <label class="form-label" for="form3Example3"></label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4 text-right">
                            <input
                                name="password"
                                type="password"
                                id="form3Example4"
                                class="form-control"
                                placeholder="Password"
                                required
                            />
                            <label class="form-label" for="form3Example4"></label>
                            <a href="{% url 'forgotPassword' %}" class="mr-4">Forgot password?</a>
                        </div>

                        <!-- Login button -->
                        <button
                            type="submit"
                            class="btn btn-primary fw-bold btn-block"
                            style="font-size: 20px; border-radius: 10px"
                        >
                            Login
                        </button>
                        <hr />
                        <!-- Social Media login -->
                        <button
                            class="btn btn-primary fw-bold btn-block"
                            style="font-size: 20px; background: #df4a32; border-radius: 10px; border: none; color: white"
                            type="submit"
                        >
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="text-white"><i class="fa-brands fa-google-plus-g"></i> Log in with Google</a>
                        </button>
                        <div class="form-outline">
                            <p class="mb-0">
                                Don't have an account? <a href="{% url 'register' %}" class="fw-bold">Sign Up</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock  %}