{% extends 'userbase.html' %} {% load static %} {% block title %}Home{% endblock title %} {% block content %}

<!-- Banner Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            {% for b in banner %}
            <div class="item-slick1" style="background-image: url({{ b.carousel_img.url }})">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl2 respon2 text-white">{{ b.carousel_heading }}</span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1 text-white">{{ b.carousel_text }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Banner End-->

{% comment %} Category {% endcomment %}
<hr />
<div class="sec-banner bg0 p-t-80 p-b-50">
    <div class="container">
        <div class="row">
            {% for category in all_categories %}
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="{{category.image.url}}" alt="IMG-BANNER" />
                    <a
                        href="{{category.get_absolute_url}}"
                        class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
                    >
                        <div class="block1-txt-child1 flex-col-l"></div>
                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
                        </div>
                    </a>
                </div>
                <div>
                    <span class="block1-name trans-04 p-b-8 fs-25"> {{category.name | capfirst}} </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<hr />
<div class="sec-banner bg0 p-t-95 p-b-55">
    <div class="container">
        <div class="row">
            {% for b in all_brands %}
            <div class="col-md-3 col-lg-2 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="{{b.image.url}}" alt="IMG-BANNER" width="100" height="100" />
                    <a
                        href="{{b.get_absolute_url}}"
                        class="block1-txt ab-t-l s-full p-lr-38 p-tb-34 trans-03 respon3"
                    >
                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr />
<!-- Products -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-32">
            <h3 class="ltext-105 cl5 txt-center respon1">Store Overview</h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <a href="">
                    <span class="block1-name trans-04 p-b-8 fs-20" style="text-decoration: underline"> </span>
                </a>
            </div>
        </div>

        {% comment %} Products List {% endcomment %}
        <div class="row isotope-grid">
            {% for product in products|slice:"0:8" %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        {% if product.image %}
                        <img src="{{product.image.url}}" alt="IMG-PRODUCT" />
                        {% endif %}
                        <a
                            href="{{product.get_absolute_url}}"
                            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04"
                        >
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l">
                            <a href="{{product.get_absolute_url}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{product.title | capfirst}}
                            </a>

                            <span class="stext-105 cl3"> Rs. {{product.price}} </span>
                            {% comment %}
                            <span class="fs-18 cl11">
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star-half"></i>
                            </span>
                            {% endcomment %}
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                {% comment %}
                                <img
                                    class="icon-heart1 dis-block trans-04"
                                    src="{% static 'images/icons/icon-heart-01.png' %}"
                                    alt="ICON"
                                />
                                {% endcomment %}
                                <img
                                    class="icon-heart2 dis-block trans-04 ab-t-l"
                                    src="{% static 'images/icons/icon-heart-02.png' %}"
                                    alt="ICON"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Prodocts End -->
{% endblock content %}
